/* 
    Document   : pdhs
    Created on : Apr 24, 2013, 11:42:01 PM
    Author     : Buddhika
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html{
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 17%, #e1f1f7 46%, #d7e9ef 85%, #cce1ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(17%,#ffffff), color-stop(46%,#e1f1f7), color-stop(85%,#d7e9ef), color-stop(100%,#cce1ea));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 17%,#e1f1f7 46%,#d7e9ef 85%,#cce1ea 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 17%,#e1f1f7 46%,#d7e9ef 85%,#cce1ea 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 17%,#e1f1f7 46%,#d7e9ef 85%,#cce1ea 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 17%,#e1f1f7 46%,#d7e9ef 85%,#cce1ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cce1ea',GradientType=0 );
}

table td th {
    vertical-align: top!important;
    text-align: left;
}

td {
    vertical-align: top!important;
    text-align: left;
}

th {
    vertical-align: top!important;
    text-align: left;
}

body{
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

tbody{
    width: 100%!important;
}

table tbody{
    width: 600px!important;
}

#bodyTable{
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;

}

#topLine{
    max-height: 4px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgb(5,5,150);
}
#heading{
    max-height: 4px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#logo{
    width: 75px;
    height: 75px;
    padding: 1px;
    margin: 1px;
    border: 0px;
}

#headerLine1{
    font-family: Georgia, serif;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(5,5,150);
    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);
}

#headerLine2{
    font-family: Georgia, serif;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(5,5,120);
    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);
}


#contentTable{
    display:block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    min-height: 450px;
}

#copyRights{
    font-size: 1em;
    color: rgb(5,5,150);
    font-family: tahoma , sans-serif ;
}

#cssmenu{ height:37px; display:block; padding:0; margin:20px auto; margin-top: 0px; margin-bottom: 5px;  border:1px solid; border-radius:5px; } 
#cssmenu > ul {list-style:inside none; padding:0; margin:0;} 
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#cssmenu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;} 
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;} 
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; } 
#cssmenu ul li > ul{width:200px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 

#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#3e698c; background:-moz-linear-gradient(top,  #3e698c 0%, #30576e 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e698c), color-stop(100%,#30576e)); background:-webkit-linear-gradient(top,  #3e698c 0%,#30576e 100%); background:-o-linear-gradient(top, #3e698c 0%,#30576e 100%); background:-ms-linear-gradient(top, #3e698c 0%,#30576e 100%); background:linear-gradient(top,  #3e698c 0%,#30576e 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e698c', endColorstr='#30576e',GradientType=0 ); } 
#cssmenu{border-color:#1b313d;} 
#cssmenu > ul > li > a{border-right:1px solid #1b313d; color:#fff;} 
#cssmenu > ul > li > a:after{border-color:#6696bd;} 
#cssmenu > ul > li > a:hover{background:#436f93;} 

.welcomeHeading{
    font-family: Calibri , sans-serif;
    font-size: 2em;
    color: rgb(5,5,50);
    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);
}

.welcomeText{
    font-family: Calibri , sans-serif;
    font-size: 1em;
    color: rgb(2,2,10);
    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);
}


.welcomeImage{
    width: 400px;
    height: 250px;
    margin: 5px;
    padding: 5px;
    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);
}

#isWelcome{
    border: 1px dotted ;
    text-align: center!important;
    width: 100%!important;
}

.fullWidth{
    width: 100%!important;
    min-width: 100%!important;
}

.ui-galleria-filmstrip-wrapper {
    display:none;
}
.ui-galleria-panel-wrapper{
    position:relative;
    padding:0px;
    margin:0px;
    width: 100%!important;
    text-align: center!important;
    height: 275px!important;
}
.ui-galleria-panel{
    filter:inherit;
    position:absolute;
    top:0px;
    left:0px;
    list-style-type:none;
    width: 100%!important;
    text-align: center!important;
}

.centreText {
    text-align: center;
    width: 100%;
}

.justifiedText {
    text-align: justify;
    padding: 15px;
}

#newsBox{
    width: 100%;
    min-width: 300px;
    height: 350px;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=84)";
    filter: alpha(opacity=84);
    -moz-opacity: 0.84;
    -khtml-opacity: 0.84;
    opacity: 0.84;
    border: 3px #46509b dotted;

    background-color: #d4d6f2;

    padding: 10px;

    color: #120d5e;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-style: normal;
    text-decoration: none;
    line-height: 2.2em;
    letter-spacing: 0.205em;

    -moz-box-shadow: 4px 6px 7px 3px #000914;
    -webkit-box-shadow: 4px 6px 7px 3px #000914;
    box-shadow: 4px 6px 7px 3px #000914;

    transform:rotate(7deg);
    -ms-transform:rotate(7deg);
    -webkit-transform: rotate(7deg);

    overflow: scroll;

}




.note {
    position:relative;
    min-width:91%;
    padding:1em 1.5em;
    margin:1em auto;
    color:#fff;
    background:#97C02F;
    overflow:hidden;
}

.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0;
    border-style:solid;
    border-color: #d4d6f2  #d4d6f2 #658E15 #658E15;
    background: #d4d6f2;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
    -webkit-border-radius:5px 0 5px 5px;
    -moz-border-radius:5px 0 5px 5px;
    border-radius:5px 0 5px 5px;
}

.note.rounded:before {
    border-width:8px;
    border-color:#fff #fff transparent transparent;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
}

.eventHeader{
    font-family: Calibri , sans-serif;
    font-size: 2em;
    color: rgb(2,2,10);
    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);
}

.articleBox{
    min-width: 50%;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    border: 5px #ebf3ff outset;

    background-color: #f0f3ff;

    padding: 6px;

    color: #040e77;
    font-size: inherit;
    font-weight: inherit;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    font-style: inherit;
    text-decoration: inherit;
    line-height: 2.05em;
    letter-spacing: 0.15em;
    -moz-box-shadow: 6px 7px 7px 1px #022364;
    -webkit-box-shadow: 6px 7px 7px 1px #022364;
    box-shadow: 6px 7px 7px 1px #022364;
}


.articalImage{
    width: 200px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    float: left;
}


.articalHeading{
    font-family: Calibri , sans-serif;
    font-size: 1em;
    color: rgb(5,5,50);
    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);
}

.articalText{
    font-family: Calibri , sans-serif;
    font-size: 0.5em;
    color: rgb(2,2,10);
/*    -webkit-text-shadow: 4px 4px 12px rgba(0, 0, 83, 0.73);
    -moz-text-shadow:    4px 4px 12px rgba(0, 0, 83, 0.73);
    text-shadow:         4px 4px 12px rgba(0, 0, 83, 0.73);*/
}
